{% extends  'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="col-md-9">
          <h4><b>Резульаты</b></h4>
        </div>
      </div>
      <table class = "table">
        <thead>
          <tr>
            <td><b>Площадь</b></td>
            <td><b>Масса</b></td>
            <td><b>Результат</b></td>
          </tr>
        </thead>
        <tr>
          <td>{{ area_size }}</td>
          <td>{{ mass }}</td>
          <td>{{ result }}</td>
        </tr>
      </table>
    </div>
  </div>

    <!-- 
      пиши сюда свой HTML
      И не забывай что bootstrap
    -->
{% endblock %}
