{% extends  'base.html.twig' %}

{% block body %}
  <div class="container">
    {% for flash_message in app.session.flashBag.get('notice') %}
      <blockquote>
        <p>{{ flash_message }}</p>
      </blockquote>
    {% endfor %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="col-md-9">
          <h4><b>Кадастр</b></h4>
        </div>
        <div class="btn-group" role="group">
          <a class = "btn btn-default" href="{{ path('cadastre_new_path') }}">Добавить запись в кадастр</a>
        </div>
      </div>
      <table class = "table">
        <thead>
          <tr>
            <td><b>Название</b></td>
            <td><b>Описание</b></td>
            <td><b>Широта</b></td>
            <td><b>Долгота</b></td>
            <td><b>Действия</b></td>
          </tr>
        </thead>
        {% for item in items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.latitude }}</td>
            <td>{{ item.longitude }}</td>
            <td>
              <a href="{{ path('cadastre_delete_path', {'cadastre_id': item.id}) }}">Удалить</a><br>
              <a href="{{ path('cadastre_edit_path', {'cadastre_id': item.id}) }}">Редактировать</a><br>
              <a href="{{ path('cadastre_suggestion_panel_path', {'cadastre_id': item.id}) }}">Сгенерировать отчёт</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
