{% extends  'base.html.twig' %}

{% block body %}
  Здесь будет список с возможными категориями для системы принятия решения <br>
  После выбора необходимых, нужно будет отправить запрос на cadstre_suggestion_panel_path via: POST
  CadastreController#suggestionPanelAction должен обработать данные в соответствии с выбранными пунктами.
{% endblock %}
