{# TODO: this entity MUST be removed after testing or creating a MapObjectController#newAction #}
{% extends  'base.html.twig' %}

{% block body %}
    <ul>
      <li>{{ item.getName }}</li>
      <li>{{ item.getDescription }}</li>
      <li>{{ item.getLatitude }}</li>
      <li>{{ item.getLongitude }}</li>
    </ul>
{% endblock %}
