{% extends  'base.html.twig' %}

{% block head %}
  {% include 'dump_object/partials/_head.html.twig' %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="page-header"><h2>Добавить новый объект на карту</h2></div>
    
    {% include 'dump_object/partials/_form.html.twig' %}

    <div class="col-md-6"><div id="map" style="width:500px;height:350px"></div></div>
  </div>
{% endblock %}
