{% extends  'base.html.twig' %}

{% block head %}
  {% include 'dump_object/partials/_head.html.twig' %}
{% endblock %}

{% block body %}
  <div class="container">
    {% for flash_message in app.session.flashBag.get('notice') %}
      <blockquote>
        <p>{{ flash_message }}</p>
      </blockquote>
    {% endfor %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="col-md-9">
          <h4><b>Свалки</b></h4>
        </div>
        <div class="btn-group" role="group">
          <a class = "btn btn-default" href="{{ path('dump_object_new') }}">Создать свалку на карте</a>
        </div>
      </div>
      <table class = "table">
        <thead>
          <tr>
            <td><b>Название</b></td>
            <td><b>Описание</b></td>
            <td><b>Широта</b></td>
            <td><b>Долгота</b></td>
            <td><b>Действия</b></td>
          </tr>
        </thead>
        <script>
        var all_dump_objects = [];
        </script>
        {% for item in items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.latitude }}</td>
            <td>{{ item.longitude }}</td>
            <td>
              <a href="{{ path('dump_object_delete', {'dump_object_id': item.id}) }}">Удалить</a><br>
              <a href="{{ path('dump_object_edit', {'dump_object_id': item.id}) }}">Редактировать</a>
            </td>
          </tr>
          <script>
            all_dump_objects.push({
              "name" : "{{ item.name }}", 
              "description" : "{{ item.description }}", 
              "longitude" : {{ item.longitude }}, 
              "latitude" : {{ item.latitude }}, 
            });
          </script>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-12">
      <div id="static_map" style="width:100%;height:350px" ></div>
    </div>
  </div>
{% endblock %}
