<!DOCTYPE html>
<html>
    <head>
        {% include 'common/head.html.twig' %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block header %}
          {% include 'common/header.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
