{% extends  'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="page-header">
      <h1>Тестовый заголовок</h1>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p>
          Много тестового описания Много тестового описания Много тестового описания Много тестового описания Много тестового описания 
          Много тестового описания Много тестового описания Много тестового описания Много тестового описания Много тестового описания 
          Много тестового описания Много тестового описания Много тестового описания Много тестового описания Много тестового описания 
          Много тестового описания Много тестового описания Много тестового описания Много тестового описания Много тестового описания 
        </p>
      </div>
    </div>
  </div>
{% endblock %}