<meta charset="UTF-8" />
<title>{% block title %}Система принятия решений{% endblock %}</title>
{% block stylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
