<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Cистема принятия решений</a>
    </div>
    <ul class="nav navbar-nav">
        {% if app.request.get('_route') == 'dump_object_index' %}
          <li class="active"><a>Свалки</a></li>
        {% else %}
          <li><a href="{{ path('dump_object_index') }}">Свалки</a></li>
        {% endif %}

        {% if app.request.get('_route') == 'cadastre_index_path' %}
          <li class="active"><a>Кадастр</a></li>
        {% else %}
          <li><a href="{{ path('cadastre_index_path') }}">Кадастр</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
