{{ form_start(form, { 'attr': {'class': 'col-md-6', 'id': 'map_object_form'} }) }}
  <div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(form.longitude) }}
    {{ form_widget(form.longitude, { 'attr': {'class': 'form-control'} }) }}
  </div>
  <div class="form-group">
    {{ form_label(form.latitude) }}
    {{ form_widget(form.latitude, { 'attr': {'class': 'form-control'} }) }}
  </div>
{{ form_end(form) }}
